.cartpage-shine {
    background-color: #F9F6F3;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 64px var(--spacing-spc-none, 0px);
}

.CartPage {
    display: flex;
    padding: 7px var(--spacing-spc-none, 0px);

}

.ButtonColor {
    display: flex;
    width: 114px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--Accent-Color, #5E503F);
    background: #EAE0D5;
}

.CartPageProduct {
    margin-bottom: 16px;
}

.DropdownButton i {
    right: 5px;
}

.DropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.DropdownContent div {
    padding: 10px;
    cursor: pointer;
}

.DropdownButton:hover .DropdownContent {
    display: block;
}

.ProductButtonInlineLeft button {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #EAE0D5;
}

.QuantityButtons {
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--Accent-Color, #5E503F);
    background: #EAE0D5;
}

.SpcaceDiv {
    width: 14px;
}

/* --------------------- */
.ProductArea {
    width: 815px;
    height: 162px;
}

.ProductDetail {
    justify-content: unset !important;
    background-color: #F1EBE3;
    width: 701px;
    height: 162px;
}

.ProductImg {
    width: 141px;
    height: 142px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.P-Space {
    height: 102px;
    width: 1px;
    border-radius: 2px;
    background: rgba(51, 51, 51, 0.20);
    margin-left: 12px;
    margin-right: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ProductInfo {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 24px;
    width: 535px;
    height: 162px;
}

.NameOProduct {
    display: flex;
    height: 24.306px;
    color: #000;
    text-align: left;
}

.ProductSub {
    color: #505050;
}

.ProductSubLeft,
.ProductSubRight {
    text-align: left;
    width: 50%;
    margin-top: 0;
    margin-bottom: 8px;
}

.ProductButtonInlineLeft {
    display: flex;
    text-align: left;
    width: 70%;
}

.ProductButtonInline {
    padding-top: 20px;
}

.ProductButtonInlineRight {
    gap: 10px;
    display: flex;
    align-items: right;
    margin-left: 55.87px;
    margin-top: auto;
}

.ProductPrice {
    color: #fdfcfc;
    display: flex;
    /* padding: 62px 31px; */
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: var(--spacing-spc-none, 0px) 2px 2px var(--spacing-spc-none, 0px);
    border: 1px solid rgba(51, 51, 51, 0.40);
    background: var(--Judge-Grey, #5E503F);
}

/* -------------- */
.AddressLink {
    display: flex;
    width: 118px;
    height: 19px;
    justify-content: center;
    left: 104px;
    margin-top: 38px;
    margin-bottom: 7px;
    margin-left: 104px;
}

.AddressLink a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    color: #000000;
}

/* Billling */
.billing-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    border-radius: var(--spacing-spc-none, 0px);
    padding: 29px 36px 33px 37px;
    border-radius: 2px;
    border: 1px solid #000;
    background: #F1EBE3;
    flex: 1;
}

.billing-title {
    display: flex;
    width: 302px;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spc-none, 0px);
    border-radius: var(--spacing-spc-none, 0px);
}

.order-sum,
.discount-code,
.subtotal {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: var(--spacing-spc-none, 0px);
}


.order-sum-title,
.order-detail,
.sub-line,
.left-item,
.total {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    border-radius: var(--spacing-spc-none, 0px);
}

.order-sum-title {
    gap: 155px;
}

.order-sum {
    height: auto;
    padding-bottom: 24px;
}


.apply-code {
    display: flex;
    padding: 7px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 310px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid rgba(174, 174, 174, 0.50);
    background: #FFF;
}

.apply-code::placeholder {
    color: rgba(0, 0, 0, 0.50);
    /* Input Light */
    font-family: Nunito;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.24px;
}

.SomeButtons {
    margin-top: 9px;
    justify-content: space-between;
}

.ButtonBackToShop,
.ButtonBuyNow {
    display: flex;
    width: 185px;
    height: 48px;
    padding: 20px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #5E503F;
    background: #EAE0D5;
}

.ButtonBackToShop span {
    color: #5E503F;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.ButtonBuyNow span {
    color: #5E503F;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.iProduct {
    margin-left: -35px;
}

.LinkOB {
    text-decoration: none;
}