/* --------------------------------------- */
/* Button 7: BUTTON BLACK + ICON Arrow up-right */
.button_7 {
    font-family: montserrat;
    font-size: 12px;
    background-color: transparent;
    color: #333333;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 90px;
    height: 28px;
    border-radius: 2px;
}

.child-box_7 {
    width: 74px;
    height: 1px;
    background-color: transparent;
    position: absolute;
    text-align: left;
    bottom: 0;
}

.button_7 SVG {
    margin-left: 8px;
}


/* When Pointing the Mouse */
.button_7:hover {
    position: relative;
    .child-box_7 {
        background-color: #333333;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_7:active {
    color: rgba(51, 51, 51, 0.5);
    background-color: transparent;
    transform: translateY(4px);
    .child-box_7 {
        background-color: rgba(51, 51, 51, 0.5);
    }
}