.navigation {
  display: flex;
  width: 1440px;
  height: auto;
  padding: 0px var(--spacing-spc-xl, 64px);
  justify-content: space-between;
  align-items: center;
  background: var(--Dark-Brown, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #3B3023);
}



.nav-logo {
  display: flex;
  width: 233.375px;
  height: 60px;
  padding: 14.44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36.101px;
  flex-shrink: 0;
}

.nav-logo-icon {
  flex: 1 0 0;
  align-self: stretch;
}

.nav-parent {
  display: flex;
padding: var(--spacing-spc-none, 0px);
justify-content: center;
align-items: center;
gap: var(--spacing-spc-2xs, 4px);
border-radius: var(--spacing-spc-none, 0px);
}

.nav-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  z-index: 0;

}

.icon-button {
  color: white;
  display: flex;
  padding: var(--spacing-spc-none, 0px);
  justify-content: center;
  align-items: center;
  gap: 8.968px;
}