.navigation {
  width: 100%;
  padding: 0px var(--spacing-spc-xl, 64px);
  background: var(--Dark-Brown, #3B3023);
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  z-index: 1000;
}

.navigation.nav-scroll {
  background: 5E503F;
}

.nav-logo {
  padding: 14.44px;
  gap: 36.101px;
  flex-shrink: 0;
}

.nav-logo-icon {
  flex: 1 0 0;
  align-self: stretch;
  
}

.nav-button{
  display: flex;
padding: 0px 16px;
justify-content: center;
align-items: center;
gap: 8px;
color: white;
}


.icon-button {
  color: white;
  display: flex;
width: 40.355px;
height: 40.355px;
padding: 0px 8.968px;
justify-content: center;
align-items: center;
}