.product-detail-page {
    margin: 80px 0;

    .section-container {
        width: fit-content;
        padding: 0px 125px;
    }

    .section {
        max-width: 1440px;
    }

    .review-rate p {
        font-family: Nunito;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
    
    .prod-desc-con {
        max-width: 600px;
    }
    
    .truncated-para {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 6; /* Adjust the number of lines as needed */
    }
    
    .prod-detail-btn {
        padding: 12px 16px !important;
    }
    
    .variant-select-btns {
        font-size: 17px;
    }
    
    .vt-divider {
        border-left: 1px solid #ccc;
        margin: 5% 0px;
        align-self: stretch;
    }
    
    .prod-image-slider {
        width: 100%;
        justify-content: space-between;
    }
    
    .active-img {
        width: 500px;
    }
    
    .unactive-img {
        width: 130px;
    }
    
    .prod-detail-section-2 {
        padding: 80px 125px;
    }

    .set-wdth {
        width: 1440px;
    }

    .carousel-container {
        width: 1210px;
    }

    .width-reset {
        width: 242px;
    }

}

@media screen and (max-width: 1366px) and (min-width: 767px) {
    .product-detail-page {
        margin-top: 105px;
        gap: 80px;
        justify-content: space-around;

        .section-container {
            padding: 0px 50px;
        }

        .section {
            flex-wrap: wrap;
        }
    
        .vt-divider  {
            display: none;
        }
    
        .res-width {
            width: 100%;
        }
    
        .product-detail-page {
            gap: 20px;
        }
    
        .prod-name > p {
            font-family: var(--display-font);
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1%;
        }

        .carousel-container {
            width: 726px;
        }


    }
}
  
  @media screen and (max-width: 767px) {
    .product-detail-page{
        margin-top: 50px;
        background-color: #F9F6F3;
    }
    .section {
        flex-wrap: wrap;
        margin-top: 0px;
        gap: var(--spc-tk-2xs);
        padding: 0px 10px 0px 10px;
    }
    .product-detail-page .active-img{
        width: 390px;
    }
    .product-detail-page .unactive-img{
        width: 91px;
    }
    .prod-detail-section-2{
        max-width: 390px;
        padding: 0px 0px 0px 70px;
        justify-content: center;
    }
    .prod-detail-container{
        padding: 10px 20px 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
    }
    .h2{
        font-size: 22px;
    }
    .prod-desc-con>p, .prod-discount>p{
        font-size: 11px;
    }
    .prod-price>h3{
        font-size: 24px;
    }
    .product-detail-page .section-container{
        padding: 0px;
    }
    .prod-discount{
        order: 1;
    }
    .prod-price{
        order: 2;
    }
    .prod-br-nm-rv{
        order: 3;
    }
    .button-container{
        order: 4;
    }
    .prod-desc-con{
        order: 5;
    }
    .prod-review{
        order: 1;
    }
    .vt-divider{
        height: 90px;
        background-color: #3B3023;
        position: absolute;
        top: 530px;
        width: 100%;
    }
    .prod-price, .prod-discount{
        color: white;
    }
    .bi.bi-star-fill, .bi.bi-star-half{
        font-size: 13px;
    }
    .detail-nav{
        font-size: 10px;
    }
    .variant-select-btns>Button>div>p{
        font-size: 12px;
    }
    .product-detail-page .prod-detail-section-2 {
        padding: 60px 0px 20px 0px;
        gap: 10px;
    }
    .similar-prod-title{
        width: 400px;
        text-align: center;
    }
    .section.carousel-container {
        width: 463px;
    }
    .product-detail-page .carousel-container  {
        margin: 0 auto;
        height: 170px;
        justify-content: center;
        width: 350px;
      }
    .product-detail-page .carousel-container>ul{
        margin: 10px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        
    }
      .carousel-item {
        width: 100%;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      .react-multi-carousel-item {
        transform: scale(0.5);
      }
      #no-scroll > div.flex-col.content-container.product-detail-page > div.prod-detail-section-2.flex-row > div > div.react-multi-carousel-list.carousel-container > ul > li {
        margin-left: -120px; /* Điều chỉnh giá trị theo ý muốn của bạn */
    }
  }