.review-rate p {
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.prod-desc-con {
    max-width: 600px;
}

.truncated-para {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6; /* Adjust the number of lines as needed */
}

.prod-detail-btn {
    padding: 12px 16px !important;
}

.variants-select-btn .icon-size {
    font-size: 17px;
}

.vt-divider {
    border-left: 1px solid #ccc;
    margin: 5% 0px;
    align-self: stretch;
}

.prod-image-slider {
    width: 100%;
    justify-content: space-between;
}

.active-img {
    width: 500px;
}

.unactive-img {
    width: 130px;
}

.prod-detail-section-2 {
    padding: 80px 125px;
}
.section-container{
    flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
    .section-container{
        padding: 40px 10px 32px 10px;
        align-items: center;
        max-width: 100%;

    }
    .section{
        margin: 0 auto;
        gap: var(--spc-tk-xl);
        padding: 40px 10px 32px 10px;
    }
    .image-display{
        width: 50%;
        height: 30.625rem;
        flex-shrink: 0;
        border-radius: var(--spacing-spc-none, 0rem);
    }
    .active-img{
        width: 99%;
    }
    .unactive-img{
        width: 30%;
    }
    .vt-divider {
        justify-content: center;
    }
    .prod-detail-container{

    }
    .detail-container{
        display: flex;
        width: 50%;
    }
}
@media only screen and (max-width: 759px) {
    .section-container{
        /* padding: 50px 10px 32px 10px; */
        align-items: center;

        }
        .section{
            margin: 0 auto;
        }
}
