.product-detail-page {
    margin: 80px 0;

    .section-container {
        width: fit-content;
        padding: 0px 125px;
    }

    .section {
        max-width: 1440px;
    }

    .review-rate p {
        font-family: Nunito;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
    
    .prod-desc-con {
        max-width: 600px;
    }
    
    .truncated-para {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 6; /* Adjust the number of lines as needed */
    }
    
    .prod-detail-btn {
        padding: 12px 16px !important;
    }
    
    .variant-select-btns {
        font-size: 17px;
    }
    
    .vt-divider {
        border-left: 1px solid #ccc;
        margin: 5% 0px;
        align-self: stretch;
    }
    
    .prod-image-slider {
        width: 100%;
        justify-content: space-between;
    }
    
    .active-img {
        width: 500px;
    }
    
    .unactive-img {
        width: 130px;
    }
    
    .prod-detail-section-2 {
        padding: 80px 125px;
    }

    .set-wdth {
        width: 1440px;
    }

    .carousel-container {
        width: 1210px;
    }

    .width-reset {
        width: 242px !important;
    }

}

@media screen and (max-width: 1080px) {
    .product-detail-page {
        margin-top: 105px;
        gap: 80px;
        justify-content: space-around;

        .section-container {
            padding: 0px 50px;
        }

        .section {
            flex-wrap: wrap;
        }
    
        .vt-divider  {
            display: none;
        }
    
        .res-width {
            width: 100%;
        }
    
        .product-detail-page {
            gap: 20px;
        }
    
        .prod-name > p {
            font-family: var(--display-font);
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1%;
        }

        .carousel-container {
            width: 726px;
        }


    }
    }
  
  @media screen and (max-width: 768px) {
  
}

