.signin-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: hex(F9F6F3);
}
.signin-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.signin-logo > img {
    display: flex;
    max-width: 80%;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
    flex: 1;
  }
.main{
    width: 448px;
    height: 547px;
    flex-shrink: 0;
    margin: 66px 193px 143px 0px;
    border-radius: var(--spacing-spc-none, 0px);
    border: 1px solid var(--pearl-bush-900, #593C35);
    background: var(--rodeo-dust-100, #F1EBE3);
    float: right;
    margin-left: auto;
}
.forgot-form-title, .sub-title, .footer{
    margin: 28px 48px 34px 48px;
}
.forgot-form-title{
    font-size: var(--h4-size);
  color: var(--dark-brown);
  font-family: var(--title-h1);
  font-weight:600;
  margin: 48px 48px 34px 48px;
}
.forgot-form-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.forgot-form-input>input{
    width: 323.64px;
    height: var(--spacing-7, 56px);
    flex-shrink: 0;
    border-radius: var(--spacing-spc-none, 0px);
    border: 1.703px solid rgba(94, 80, 63, 0.48);
    background: #FFF;
    margin-bottom: 14px;
    padding-left: 10px;
}
.next-signup{
    margin-left: auto;
}
.footer{
    color: #000;

text-align: justify;
/* Body Sml */
font-family: Nunito;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.1px;
}