.footer {
  display: flex;
  width: 100%;
  color: white;
  padding: var(--spacing-spc-lg, 48px) var(--spacing-spc-xl, 64px);
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 64px;
  flex-wrap: wrap;
  background: var(--Dark-Brown, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #3B3023);
}
.footer-vector-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-logo {
  width: 280.05px;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17.328521728515625px;
  box-sizing: border-box;
}
.footer-sitemap {
  display: flex;
width: 159px;
padding: var(--spacing-spc-none, 0px);
flex-direction: column;
align-items: flex-start;
gap: var(--spacing-spc-2xs, 4px);
}
.footer-sitemap-content {
  align-items: flex-start;
}

.footer-collection-content {
  align-items: unset;
padding: var(--spacing-spc-none, 0px);
gap: var(--Spacing-2, 16px);
}
.footer-contact-content{
  padding: 4px 8px;
  align-items: flex-start;
padding: var(--spacing-spc-none, 0px);
gap: var(--spacing-spc-none, 0px);
}