.content-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-image img {
    display: block;
    margin: 0 auto;
    width: 100vw;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.img-size {
    height: 300px;
    align-self: stretch;
}

.sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 128px 0px;
}

.section {
    width: 80%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourStoryContainer {
    padding: 80px unset;
}


.lrg-spc {
    padding: 64px 128px;
}

.md-spc {
    padding: 48px 64px;
}



.our-value {
    align-items: flex-start;
}

.our-story {
    display: flex;
    padding: var(--spacing-spc-none, 0px) var(--spacing-spc-lg, 48px);
    text-align: left;
    align-items: center;

.pre-title {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: capitalize;
}

.ourStory {
    display: flex;
    width: 1184px;
    padding: var(--spacing-spc-none, 0px) var(--spacing-spc-lg, 48px);
    text-align: left;
    align-items: flex-start;

    gap: var(--spacing-spc-lg, 48px);
    background-color: #EAE0D5;
}

.value-images {
    justify-content: space-between;
}

.value-images img {
    width: 100%;
    height: 453px;
    max-height: 100%;
    object-fit: cover;
}

.image-slider {
    transition: all 300ms ease-in-out;
}

.ivory-bg {
    background-color: #F9F6F3;
}

.right-container {
    height: 426px;
}

.left-container {
    padding: var(--spacing-spc-xl, 64px) var(--spacing-spc-none, 0px);
    align-items: flex-start;
    flex: 1 0 0;
}

    display: flex;
    height: 426px;
    padding: var(--spacing-spc-none, 0px);

    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-container {
    display: flex;
padding: var(--spacing-spc-xl, 64px) var(--spacing-spc-none, 0px);

flex-direction: column;
align-items: flex-start;
gap: var(--spacing-spc-xs, 8px);
flex: 1 0 0;
}

