/* --------------------------------------- */
/* BUTTON USER INFORMATION */

.button_user_information {
    font-family: montserrat;
    background-color: #3B3023;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width:  36px;
    height: 36px;
    border-radius: 2px;
}

.child-box_user_information {
    width: 20px;
    height: 2px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

/* When Pointing the Mouse */
.button_user_information:hover {
    position: relative;
    .child-box_user_information {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_user_information:focus {
    color: #5E503F;
    background-color: #F9F6F3;
    transform: translateY(4px);
    .child-box_user_information {
        background-color: #5E503F;
    }
}

/* ------ */
.container_12 {
    font-family: montserrat;
    font-size: 10px;
    position: relative;
    color: #5E503F;
    background-color: #F9F6F3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    margin-top: 10px;
    padding: 0;
    width: 188px;
    height: 274px;
    border: 2px solid #3B3023;
    border-radius: 2px;
    display: none;
}

.child-box_12 {
    width: 54px;
    height: 54px;
    background-color: #F1EBE3;
    position: absolute;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -10.18px;
    
}

.container_12_1 {
    display: flex;
    margin-top: 25px;
    z-index: 1;
    
}

.container_12_1 svg {
    margin-left: 29px;
    margin-right: 26px;
    color: #000000;
    z-index: 2;
}

.container_content_12_1 div {
    margin-bottom: 15px;
    
}

/* ------------------ */

.container_12_2 {
    margin-top: 15px;
    margin-left: 26px;
    text-align: left;
}

.container_12_2 div {
    margin-bottom: 15px;
    
}

.container_12_2 svg {
    margin-right: 6px;
}

.container_12 a {
    text-decoration: none;
    color: #5E503F;
}

/* ------------------------- */
.button_user_information:focus + .container_12,
.container_12:focus-within {
    display: block;
}