/* Button: Buy now */
/* At display */
.buy-now-button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    transition-duration: 0.4s;
    width: 242px;
    height: 49px;
}

.buy-now-button svg {
    margin-right: 10px;
}

.icon-bg {
    background-color: #F1EBE4;
    border-radius: 100%;
    background-clip: padding-box;
    width: 30px;
    height: 30px;
}

/* When Pointing the Mouse */
.buy-now-button:hover {
    background-color: #F1EBE4;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

/* When pressing the button */
.buy-now-button:active {
    background-color: #FFE5C6;
    transform: translateY(4px);
}

.buy-now-button:active .icon-bg {
    background-color: #FFE5C6;
    transition-duration: 0.4s;
}

/* ------------------------------------------------ */
/* Button: Blod font */
/* At display */
.button_1 {
    font-family: montserrat;
    font-size: 16px;
    background-color: #3B3023;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 122px;
    height: 56px;
    border-radius: 2px;
}

.child-box_1 {
    width: 90px;
    height: 4px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

/* When Pointing the Mouse */
.button_1:hover {
    position: relative;

    .child-box_1 {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_1:active {
    color: rgba(249, 246, 2433, 0.5);
    background-color: #3B3023;
    transform: translateY(4px);

    .child-box_1 {
        background-color: rgba(249, 246, 2433, 0.5);
    }
}

/* ------------------------------------------------ */
/* Button: Not blod font */
/* At display */
.button_2 {
    font-family: montserrat;
    font-size: 20px;
    background: var(--Dark-Brown, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #3B3023);
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 156px;
    height: 56px;
    border-radius: 2px;
}

.child-box_2 {
    width: 90px;
    height: 4px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

/* When Pointing the Mouse */
.button_2:hover {
    position: relative;

    .child-box_2 {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_2:active {
    color: rgba(249, 246, 2433, 0.5);
    background-color: #3B3023;
    transform: translateY(4px);

    .child-box_2 {
        background-color: rgba(249, 246, 2433, 0.5);
    }
}

/* ------------------------------------------------ */
/* Button: Logo facebook + Blod font */
/* At display */
.button_3 {
    font-family: montserrat;
    font-size: 20px;
    font-weight: bold;
    background-color: #3B3023;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 150px;
    height: 56px;
    border-radius: 2px;
}

.child-box_3 {
    width: 118px;
    height: 4px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

.button_3 svg {
    margin-right: 10px;
}

/* When Pointing the Mouse */
.button_3:hover {
    position: relative;

    .child-box_3 {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_3:active {
    color: rgba(249, 246, 2433, 0.5);
    background-color: #3B3023;
    transform: translateY(4px);

    .child-box_3 {
        background-color: rgba(249, 246, 2433, 0.5);
    }
}

/* ------------------------------------------------ */
/* Button: Logo facebook + Not blod font */
/* At display */
.button_4 {
    font-family: montserrat;
    font-size: 20px;
    background-color: #3B3023;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 150px;
    height: 56px;
    border-radius: 2px;
}

.child-box_4 {
    width: 118px;
    height: 4px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

.button_4 svg {
    margin-right: 10px;
}

/* When Pointing the Mouse */
.button_4:hover {
    position: relative;

    .child-box_4 {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_4:active {
    color: rgba(249, 246, 2433, 0.5);
    background-color: #3B3023;
    transform: translateY(4px);

    .child-box_4 {
        background-color: rgba(249, 246, 2433, 0.5);
    }
}

/* ------------------------------------------------ */
/* Button: Logo facebook + Not blod font */
/* At display */
.button_5 {
    font-family: montserrat;
    font-size: 20px;
    background-color: #3B3023;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 36px;
    height: 36px;
    border-radius: 2px;
}

.child-box_5 {
    width: 20px;
    height: 2px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

/* When Pointing the Mouse */
.button_5:hover {
    position: relative;

    .child-box_5 {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_5:active {
    color: #5E503F;
    background-color: #F9F6F3;
    transform: translateY(4px);

    .child-box_5 {
        background-color: #5E503F;
    }
}

/* ------------------------------------------------ */
/* Button: Collection */
/* At display */
.collection-button {
    font-family: montserrat;
    font-size: 20px;
    background: var(--Dark-Brown, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #3B3023);
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 198px;
    height: 56px;
    border-radius: 2px;
}

.child-box_collection {
    width: 166px;
    height: 4px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

.collection-button svg {
    margin-right: 10px;
}

/* CSS list */
.collection-dropdown-content {
    font-family: montserrat;
    font-size: 14px;
    position: absolute;
    background-color: #F9F6F3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 15px;
    padding: 0;
    display: none;
    width: 449px;
    height: 315px;
    border: 2px solid #3B3023;
    border-radius: 2px;
}

.title-list {
    font-weight: bold;
    color: #4F4F4F;
    font-size: 16px;
    margin-bottom: 5%;
    text-align: left;
}

.collection-dropdown-content li {
    list-style: none;
}

.collection-dropdown-content li a {
    color: #5E503F;
    padding-top: 10px;
    text-decoration: none;
    display: block;
}

.collection-dropdown-content li {
    margin-bottom: 10%;
    text-align: left;
}

/* When Pointing the Mouse */
.collection-button:hover {
    position: relative;

    .child-box_collection {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.collection-button:focus {
    color: rgba(249, 246, 2433, 0.5);
    background-color: #3B3023;
    transform: translateY(4px);

    .child-box_collection {
        background-color: rgba(249, 246, 2433, 0.5);
    }
}

.collection-button:focus+.collection-dropdown-content,
.collection-dropdown-content:focus-within {
    display: flex;
}

/* --------------------------------------- */
/* Button 6: BUTTON BLACK*/
.button_6 {
    font-family: montserrat;
    font-size: 12px;
    background-color: transparent;
    color: #333333;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 66px;
    height: 28px;
    border-radius: 2px;
}

.child-box_6 {
    width: 50px;
    height: 1px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}


/* When Pointing the Mouse */
.button_6:hover {
    position: relative;

    .child-box_6 {
        background-color: #333333;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_6:active {
    background-color: transparent;
    color: rgba(51, 51, 51, 0.5);
    transform: translateY(4px);

    .child-box_6 {
        background-color: rgba(51, 51, 51, 0.5);
    }
}

/* --------------------------------------- */
/* Button 7: BUTTON BLACK + ICON Arrow up-right */
.button_7 {
    font-family: montserrat;
    font-size: 12px;
    background-color: transparent;
    color: #333333;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 90px;
    height: 28px;
    border-radius: 2px;
}

.child-box_7 {
    width: 74px;
    height: 1px;
    background-color: transparent;
    position: absolute;
    text-align: left;
    bottom: 0;
}

.button_7 SVG {
    margin-left: 8px;
}


/* When Pointing the Mouse */
.button_7:hover {
    position: relative;

    .child-box_7 {
        background-color: #333333;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_7:active {
    color: rgba(51, 51, 51, 0.5);
    background-color: transparent;
    transform: translateY(4px);

    .child-box_7 {
        background-color: rgba(51, 51, 51, 0.5);
    }
}

/* --------------------------------------- */
/* Button 8: ICON Arrow up-right + BUTTON BLACK */
.button_8 {
    font-family: montserrat;
    font-size: 12px;
    background-color: transparent;
    color: #333333;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 90px;
    height: 28px;
    border-radius: 2px;
}

.child-box_8 {
    width: 74px;
    height: 1px;
    background-color: transparent;
    position: absolute;
    text-align: left;
    bottom: 0;
}

.button_8 SVG {
    margin-right: 8px;
}


/* When Pointing the Mouse */
.button_8:hover {
    position: relative;

    .child-box_8 {
        background-color: #333333;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_8:active {
    background-color: transparent;
    color: rgba(51, 51, 51, 0.5);
    transform: translateY(4px);

    .child-box_8 {
        background-color: rgba(51, 51, 51, 0.5);
    }
}

/* --------------------------------------- */
/* Button 9: BUTTON WHITE*/
.button_9 {
    font-family: montserrat;
    font-size: 12px;
    background-color: transparent;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    transition-duration: 0.4s;
    height: 28px;
    border-radius: 2px;
}

.child-box_9 {
    width: 50px;
    height: 1px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}


/* When Pointing the Mouse */
.button_9:hover {
    position: relative;

    .child-box_9 {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_9:active {
    color: rgba(249, 246, 2433, 0.5);
    background-color: transparent;
    transform: translateY(4px);

    .child-box_9 {
        background-color: rgba(249, 246, 2433, 0.5);
    }
}

/* --------------------------------------- */
/* Button 10: BUTTON WHITE + ICON Arrow up-right */
.button_10 {
    font-family: montserrat;
    font-size: 12px;
    background-color: transparent;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 90px;
    height: 28px;
    border-radius: 2px;
}

.child-box_10 {
    width: 74px;
    height: 1px;
    background-color: transparent;
    position: absolute;
    text-align: left;
    bottom: 0;
}

.button_10 svg {
    margin-left: 8px;
}


/* When Pointing the Mouse */
.button_10:hover {
    position: relative;

    .child-box_10 {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_10:active {
    color: rgba(249, 246, 2433, 0.5);
    background-color: transparent;
    transform: translateY(4px);

    .child-box_10 {
        background-color: rgba(249, 246, 2433, 0.5);
    }
}

/* --------------------------------------- */
/* Button 11: ICON Arrow up-right + BUTTON WHITE */
.button_11 {
    font-family: montserrat;
    font-size: 12px;
    background-color: transparent;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 90px;
    height: 28px;
    border-radius: 2px;
}

.child-box_11 {
    width: 74px;
    height: 1px;
    background-color: transparent;
    position: absolute;
    text-align: left;
    bottom: 0;
}

.button_11 svg {
    margin-right: 8px;
}


/* When Pointing the Mouse */
.button_11:hover {
    position: relative;

    .child-box_11 {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_11:active {
    color: rgba(249, 246, 2433, 0.5);
    background-color: transparent;
    transform: translateY(4px);

    .child-box_11 {
        background-color: rgba(249, 246, 2433, 0.5);
    }
}

/* --------------------------------------- */
/* BUTTON USER INFORMATION */

.button_user_information {
    font-family: montserrat;
    background-color: #3B3023;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 36px;
    height: 36px;
    border-radius: 2px;
}

.child-box_user_information {
    width: 20px;
    height: 2px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

/* When Pointing the Mouse */
.button_user_information:hover {
    position: relative;

    .child-box_user_information {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_user_information:focus {
    color: #5E503F;
    background-color: #F9F6F3;
    transform: translateY(4px);

    .child-box_user_information {
        background-color: #5E503F;
    }
}

/* ------ */
.container_12 {
    font-family: montserrat;
    font-size: 10px;
    position: relative;
    color: #5E503F;
    background-color: #F9F6F3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 10px;
    padding: 0;
    width: 188px;
    height: 274px;
    border: 2px solid #3B3023;
    border-radius: 2px;
    display: none;
}

.child-box_12 {
    width: 54px;
    height: 54px;
    background-color: #F1EBE3;
    position: absolute;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -10.18px;

}

.container_12_1 {
    display: flex;
    margin-top: 25px;
    z-index: 1;

}

.container_12_1 svg {
    margin-left: 29px;
    margin-right: 26px;
    color: #000000;
    z-index: 2;
}

.container_content_12_1 div {
    margin-bottom: 15px;

}

/* ------------------ */

.container_12_2 {
    margin-top: 15px;
    margin-left: 26px;
    text-align: left;
}

.container_12_2 div {
    margin-bottom: 15px;

}

.container_12_2 svg {
    margin-right: 6px;
}

.container_12 a {
    text-decoration: none;
    color: #5E503F;
}

/* ------------------------- */
.button_user_information:focus+.container_12,
.container_12:focus-within {
    display: block;
}
}
.sign-in-button {
    display: flex;
    width: 340px;
    height: 48px;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #5E503F;
    background: var(--light-element-backgrounds, #EAE0D5);
    transition: background-color 0.3s ease;  
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #5E503F;
}

.sign-in-button:hover {
    background-color: #5E503F;  
    color: #fff;  
}

.google-sign-in-button,
.facebook-sign-in-button {
  display: flex;
  width: 153px;
  height: 48px;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #5E503F;
  background: #EAE0D5;
  transition: background 0.3s, color 0.3s;
  font-size: var(--bold-size);
  font-family: var(--h2);
  font-weight: 700;
letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #5E503F;
}

.google-sign-in-button:hover,
.facebook-sign-in-button:hover {
  background: #5E503F;
  color: #ffffff;
}

