/* product.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
  }
  
  .admin-products-container {
    max-width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
  }
  
  .new-product-form,
  .existing-products,
  .update-product-form {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  button {
    margin-top: 10px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  
  .see-more-button {
    background-color: #444;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .see-more-button:hover {
    background-color: #555;
  }
  