/* --------------------------------------- */
/* BUTTON USER INFORMATION */
.button-logo-brownBG {
    font-family: montserrat;
    background-color: #3B3023;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width: 36px;
    height: 36px;
    border-radius: 2px;
}

.child-box-logo-brownBG {
    width: 20px;
    height: 2px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

.button-logo-brownBG i {
    width: 20px;
    height: 20px;
}

/* When Pointing the Mouse */
.button-logo-brownBG:hover {
    position: relative;
    .child-box-logo-brownBG {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button-logo-brownBG:active {
    color: #5E503F;
    background-color: #F9F6F3;
    transform: translateY(4px);

    .child-box-logo-brownBG {
        background-color: #5E503F;
    }
}