/* ------------------------------------------------ */
/* Button: Logo facebook + Not blod font */
/* At display */
.button_5 {
    font-family: montserrat;
    font-size: 20px;
    background-color: #3B3023;
    color: #F9F6F3;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.4s;
    width:  36px;
    height: 36px;
    border-radius: 2px;
}

.child-box_5 {
    width: 20px;
    height: 2px;
    background-color: #3B3023;
    position: absolute;
    bottom: 0;
}

/* When Pointing the Mouse */
.button_5:hover {
    position: relative;
    .child-box_5 {
        background-color: #F9F6F3;
        position: absolute;
        bottom: 0;
    }
}

/* When pressing the button */
.button_5:active {
    color: #5E503F;
    background-color: #F9F6F3;
    transform: translateY(4px);
    .child-box_5 {
        background-color: #5E503F;
    }
}